<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @extract_word.word %>
</p>

<%= link_to 'Edit', edit_extract_word_path(@extract_word) %> |
<%= link_to 'Back', extract_words_path %>
